
MongoDB/Microdatos/casos_map_muse.csv
.ipynb_checkpoints/Conjuntos-checkpoint.ipynb
.ipynb_checkpoints/Dates-checkpoint.ipynb
.ipynb_checkpoints/Naive - LogisticRegression - CrossValidation - GridSearch-checkpoint.ipynb
.ipynb_checkpoints/Command List - Data Preparation-checkpoint.ipynb
MongoDB/Microdatos/casos_danos_bienes.csv
MongoDB/Microdatos/victimas_desaparicion.csv
MongoDB/Microdatos/victimas_danos_bienes.csv
MongoDB/Microdatos/victimas_map_muse.csv
MongoDB/Microdatos/casos_acciones_belicas.csv
MongoDB/Microdatos/casos_desaparicion.csv
.ipynb_checkpoints/MongoDB-checkpoint.ipynb
.ipynb_checkpoints/Neural Networks - Naive Bayes - Cross Validation - GridOptimization-checkpoint.ipynb
.ipynb_checkpoints/Numpy-checkpoint.ipynb
.ipynb_checkpoints/Exceptions - Strings - List - Dictionaries-checkpoint.ipynb
.ipynb_checkpoints/Estudio C3-checkpoint.ipynb
.ipynb_checkpoints/Regular expressions - Html-checkpoint.ipynb
.ipynb_checkpoints/Regular expressions - Processing Big files-checkpoint.ipynb
.ipynb_checkpoints/Regular Expressions - Text-checkpoint.ipynb
.ipynb_checkpoints/Assessment-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Data_Wikipedia.csv
MongoDB/.ipynb_checkpoints/MongoDB-checkpoint.ipynb
Scikit learn/.ipynb_checkpoints/ML0101EN-Clas-Decision-Trees-drug-py-v1-checkpoint.ipynb
