
MongoDB/Microdatos/casos_map_muse.csv
.ipynb_checkpoints/Conjuntos-checkpoint.ipynb
.ipynb_checkpoints/Dates-checkpoint.ipynb
.ipynb_checkpoints/Naive - LogisticRegression - CrossValidation - GridSearch-checkpoint.ipynb
.ipynb_checkpoints/Command List - Data Preparation-checkpoint.ipynb
MongoDB/Microdatos/casos_danos_bienes.csv
